<div class="a-back-icon" id="{{backBtnId}}" style="background-image: url(../../assets/icons/fontawesome/chevron-left-solid.svg); width: 20px; height:20px; background-size: cover;"></div>
{{#with data}}
<div class="m-avatar-container">
	<div class="a-avatar-container__avatar" style="background-image: url(../../assets/images/avatar/{{userAvatar}}_128.png); width: 128px; height:128px; background-size: cover;)"></div>
	<div class="a-avatar-container__player-name">{{ playerName }}</div>
</div>

<div class="o-history">
	<p class="a-history__title">History</p>
	<div class="a-history__divider"></div>
	<div class="m-history__games">
	{{#each history}}
	{{#with this}}
		<div class="m-games__game">
			{{ date }}
			<ul class="m-game__users-list">
				{{#each users}}
				{{#with this}}
					<div class="a-users-list__avatar" style="background-image: url(../../assets/images/avatar/{{avatar}}_64.png); width: 64px; height:64px; background-size: cover;)">
					<li class="a-users-list__user">
						<p class="a-text"> {{ screenName }} </p>
					</li>
				{{/with}}
				{{/each}}
			</ul>
			
		</div>
	{{/with }}
	{{/each}}
	</div>
</div>
{{> secondaryButton btn_txt="change password" btn_id="id"}}
{{/with}}

