<div class="o-app-container">
<p id="debug"></p>
<div class="a-game__map" id="{{mapId}}" style="width: 100vw; height: 50vh;"></div>
<div class="o-game__header">
	<div class="o-header__left">
		<p class="a-left__timer" id="{{timerId}}"></p>
		<p class="a-text"> <span class="a-important-number" id="distance"></span> to alien</p>
	</div>
	<div class="o-header__right">
		<div class="m-right__buttonMsg" id="{{buttonMsgId}}"><div class="a-buttonMsg_icon" style="background-image: url(../../assets/icons/fontawesome/comment-dots-regular.svg); width: 32px; height:32px; background-size: cover;"></div></div>
		<div class="m-right__buttonCrew" id="{{buttonMsgId}}"><p class="a-buttonCrew_text" > Crew</p></div>
		{{#with data}}
		{{#if isModerator}}
		<div class="m-right__buttonSettings" id="{{buttonSettingsId}}"><div class="a-buttonSettings_icon" style="background-image: url(../../assets/icons/fontawesome/cog-solid.svg); width: 32px; height:32px; background-size: cover;"></div></div>
		{{/if}}
		{{/with}}

	</div>
</div>
<div class="o-game__footer">
	{{#with data}}
	<div class="a-avatar__pic" style="background-image: url(../../assets/images/avatar/{{avatar}}_128.png); width: 64px; height:64px; background-size: cover;"></div>
	{{#if isNotTagger}}
	<div class="m-footer__msgBox">
		{{#each messages}}
		{{#with this}}
		<p class="m-msgBox__msg"><span class="a-msg__sender">{{sender}}: </span> {{msg}}</p>
		{{/with}}
		{{/each}}
	</div>
	{{/if}}
	{{/with}}
	
</div>
</div>